/**
 * Media blocks
 * ---------------------------------------------------------------------------
 */

.media {
    overflow: hidden;
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

.media--squishy {
    img {
        width: 100%;
    }
}


    .media__image {
        float: left;
        margin-right: $space;

        > img {
            display: block;

        }
    }

    .media__body {
    }



/**
 * ---------------------------------------------------------------------------
 * Buttons
 * ---------------------------------------------------------------------------
 *
 * Can be applied to any element
 * Will become an inline-block
 *
 *
 * Combine with other modifiers for the styling, eg:
 *
 *      <span class="btn btn-primary"></span>
 *
 *
 * 1. Buttons shouldn't wordwrap.
 * 2. Deal with styling for <button> element.
 *
 *
 * Note:
 *
 * Applying button classes to an <input type="submit"> element can be
 * unpredictable (especially in Firefox). Use a <button type="submit"></button>
 * instead to avoid weird line-height issues.
 *
 */

.btn {
    display: inline-block;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    line-height: 2.5;
    white-space: nowrap;            /* [1] */
    -webkit-appearance: none;       /* [2] */
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
    border: none;
    padding-left: $space/2;
    padding-right: $space/2;
    border-radius: 2px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;

    &:hover {
        color: inherit;
    }
}

/**
 * Button modifiers
 * ---------------------------------------------------------------------------
 */

.btn--small {
    padding-left: $space/4;
    padding-right: $space/4;
    line-height: 2;

}


.btn--large {
    line-height: 3;
    padding-left: $space;
    padding-right: $space;

}

.btn--block {
    display: block;
    width: 100%;
    text-align: center;
}


.btn--circle {
    line-height: 1.75;
    padding-left: .75em;
    padding-right: .75em;
}

/**
 * Button themes
 * ---------------------------------------------------------------------------
 */

.btn-primary {
    background-color: #333;
    color: #fff;
    &:hover {
        background-color: #555;
        color: #fff;
    }
}


.btn-secondary {
    background-color: #999;
    color: #fff;
    &:hover {
        background-color: #666;
        color: #fff;
    }
}

.btn-tertiary {
    border: solid 1px rgba(0,0,0,0.25);
    color: #666;
    &:hover {
        color: #333;
        border-color: rgba(0,0,0,0.4);

    }
}


.btn-outline {
    border: solid 1px rgba(255,255,255,0.5);
    color: #fff;
    &:hover {
        // color: $theme-color;
        background: #fff;
        border-color: #fff;
    }
}



/**
 * Apply the active state to buttons last to ensure color is respected.
 */
.btn:active {
    background-color: #333;
    color: #fff;
}

/**
 * Button Groups
 * ---------------------------------------------------------------------------
 */


.btn-group {
    @include small {
        & > .btn {
            margin-bottom: $space/2;
        }
    }
    @include medium {
        & > .btn {
            margin-right: $space/4;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
/**
 * Throws list items into a collection of inline-blocks
 */

.nav { /* ul, ol */
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    font-size: medium;

    & > li {
        display: inline-block;
        vertical-align: middle;
    }
}

/**
 * Extends `.nav {}`
 *
 * Adds spacing between a bunch of inline block nav children.
 *
 */
.nav--links {
    & > li {
        margin-right: .5em;
        line-height: 1;
        &:last-child {
            margin-right: 0;
        }
    }
}

/**
 * ---------------------------------------------------------------------------
 * Forms
 * ---------------------------------------------------------------------------
 */

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.field {
    border: solid 1px #ddd;
    padding: .5em .5em;
    font-size: inherit;
    appearance: none;
    width: 100%;
    background: #eee;
    border-radius: .125em;
}


.field--text,
textarea {
    font-family: inherit;
}

.field:focus {
    outline: none;
    // border-color: $theme-color;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}


.label {
    margin-bottom: $space/2;
    display: inline-block;
    width: 100%;
}
