.wrapper {
    @include rem(max-width, 1152);
    margin-left: auto;
    margin-right: auto;
}

// ----------------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------------

.grid {
    font-size: 0;
    margin-left: -.5rem;
    margin-right: -.5rem;

    @include medium {
        margin-left: -1rem;
        margin-right: -1rem;
    }

    & > * {
        @extend %inline-block;
        font-size: medium;
    }

    & > .grid {
        @extend %inline-block;
        font-size: 0;
    }
}

    .grid > *,
    .grid__item {
        vertical-align: top;
    }

// grid modififers
// --------------------

.grid--center { text-align:center;}

.grid--middle {
    > * { vertical-align: middle; }
}

.grid--bottom {
    > * { vertical-align: bottom; }
}

// ----------------------------------------------------------------------------
// column info
// ----------------------------------------------------------------------------

%column-padding {

    padding-left: .5rem;
    padding-right: .5rem;

    @include medium {
        & {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}

.col {
    @extend %column-padding;
    width:100%;
}

.gutters { @extend %column-padding;}

.col--no-gutters { width:100%; }

// ----------------------------------------------------------------------------
// main section's vertical spacing
// ----------------------------------------------------------------------------

.section {
    @extend %pt-xxxxl;
    @extend %pb-xxxxl;
    @extend %pt-xxxl--small-down;
    @extend %pb-xxxl--small-down;
}

// ----------------------------------------------------------------------------
// main sections vertical spacing
// ----------------------------------------------------------------------------

.layout {
    box-sizing:border-box;
    @extend %pl-xxxxl;
    @extend %pr-xxxxl;
    @extend %pl-xxxl--small-down;
    @extend %pr-xxxl--small-down;
}

// ----------------------------------------------------------------------------
// widths
// ----------------------------------------------------------------------------

.one-tenth { width: 10%; }
.two-tenths { width: 20%; }
.three-tenths { width: 30%; }
.four-tenths { width: 40%; }
.five-tenths { width: 50%; }
.six-tenths { width: 60%; }
.seven-tenths { width: 70%; }
.eight-tenths { width: 80%; }
.nine-tenths { width: 90%; }
.full { width: 100%; }
.one-quarter { width: 25%; }
.one-third { width: 33.33333%; }
.two-thirds { width: 66.66667%; }
.three-quarters { width: 75%; }

@include small() {
    .small-one-tenth { width: 10%; }
    .small-two-tenths { width: 20%; }
    .small-three-tenths { width: 30%; }
    .small-four-tenths { width: 40%; }
    .small-five-tenths { width: 50%; }
    .small-six-tenths { width: 60%; }
    .small-seven-tenths { width: 70%; }
    .small-eight-tenths { width: 80%; }
    .small-nine-tenths { width: 90%; }
    .small-full { width: 100%; }
    .small-one-quarter { width: 25%; }
    .small-one-third { width: 33.33333%; }
    .small-two-thirds { width: 66.66667%; }
    .small-three-quarters { width: 75%; }
}
@include medium() {
    .medium-one-tenth { width: 10%; }
    .medium-two-tenths { width: 20%; }
    .medium-three-tenths { width: 30%; }
    .medium-four-tenths { width: 40%; }
    .medium-five-tenths { width: 50%; }
    .medium-six-tenths { width: 60%; }
    .medium-seven-tenths { width: 70%; }
    .medium-eight-tenths { width: 80%; }
    .medium-nine-tenths { width: 90%; }
    .medium-full { width: 100%; }
    .medium-one-quarter { width: 25%; }
    .medium-one-third { width: 33.33333%; }
    .medium-two-thirds { width: 66.66667%; }
    .medium-three-quarters { width: 75%; }
}

@include large() {
    .large-one-tenth { width: 10%; }
    .large-two-tenths { width: 20%; }
    .large-three-tenths { width: 30%; }
    .large-four-tenths { width: 40%; }
    .large-five-tenths { width: 50%; }
    .large-six-tenths { width: 60%; }
    .large-seven-tenths { width: 70%; }
    .large-eight-tenths { width: 80%; }
    .large-nine-tenths { width: 90%; }
    .large-full { width: 100%; }
    .large-one-quarter { width: 25%; }
    .large-one-third { width: 33.33333%; }
    .large-two-thirds { width: 66.66667%; }
    .large-three-quarters { width: 75%; }
}










