.wrapper {
    @include rem(max-width, 1152);
    margin-left: auto;
    margin-right: auto;
}

// ----------------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------------


// grid modififers
// --------------------

.grid--center { text-align:center;}

.grid--middle {
    > * { vertical-align: middle; }
}

.grid--bottom {
    > * { vertical-align: bottom; }
}
// ----------------------------------------------------------------------------
// widths
// ----------------------------------------------------------------------------


.full-width { width:100% }
.half { width: 50%; }
.third { width: 33.3333333%; }
.two-thirds { width: 66.666666%; }
.quarter { width: 25%; }
.three-quarters { width: 75%; }
.fifth { width: 20%; }


@include small() {
    .small-full-width { width: 100%; }
    .small-half { width: 50%; }
    .small-third { width: 33.3333333%; }
    .small-two-thirds { width: 66.666666%; }
    .small-quarter { width: 25%; }
    .small-three-quarters { width: 75%; }
}

@include medium() {
    .medium-full-width { width: 100%; }
    .medium-half { width: 50%; }
    .medium-third { width: 33.3333333%; }
    .medium-two-thirds { width: 66.666666%; }
    .medium-quarter { width: 25%; }
    .medium-three-quarters { width: 75%; }
    .medium-fifth { width: 20%; }
}

@include large() {
    .large-full-width { width: 100%; }
    .large-half { width: 50%; }
    .large-third { width: 33.3333333%; }
    .large-two-thirds { width: 66.666666%; }
    .large-quarter { width: 25%; }
    .large-three-quarters { width: 75%; }
    .large-fifth { width: 20%; }
}

//10 column grid
$cols-large: 10;

@for $i from 1 to $cols-large+1 {
    $width: #{ (((1/$cols-large) * $i) * 100)  + "%"};
    %small-#{$i} {
      
        width: $width;
        
    }
    .small-#{$i} {
        @extend %small-#{$i};
    }
}

@for $i from 1 to $cols-large+1 {
    $width: #{ (((1/$cols-large) * $i) * 100)  + "%"};
    %medium-#{$i} {
        @include medium() {
            & {
                width: $width;
            }
        }
    }
    .medium-#{$i} {
        @extend %medium-#{$i};
    }
}


@for $i from 1 to $cols-large+1 {
    $width: #{ (((1/$cols-large) * $i) * 100)  + "%"};
    %large-#{$i} {
        @include large() {
            & {
                width: $width;
            }
        }
    }

    .large-#{$i} {
        @extend %large-#{$i};
    }
}