

// Theme blocks
// ----------------------------------------------------------------------------

$primary-bg-color: #293f54;
$primary-border-color: $primary-bg-color;
$primary-font-color: $white;
$primary-link-color: inherit;

$seconday-bg-color: #FF6961;
$seconday-border-color: $seconday-bg-color;
$seconday-font-color: $white;
$seconday-link-color: inherit;


$theme-names:
  primary,
  secondary;

$bg-color:
  $primary-bg-color,
  $secondary-bg-color;

$border-color:
  $primary-border-color,
  $border-border-color;

$font-color:
  $primary-font-color,
  $secondary-font-color;

$link-color:
  $primary-link-color,
  $secondary-link-color;;

@for $i from 1 through length($theme-names) {

  %theme--#{nth($theme-names, $i)} {

    border-color: nth($border-color, $i);
    background-color: nth($bg-color, $i);
    color: nth($font-color, $i);

    a {
        color: nth($link-color, $i);
    }
  }

  .theme--#{nth($theme-names, $i)} {
    @extend %theme--#{nth($theme-names, $i)};
  }

}