@charset "utf-8";

/**
*
* CONTENTS
*
* Config .............. Globally-available variables and config.
*
* Mixins............... Useful mixins.
*
* Utilities ............. Globally-available extends and core classes
*
* Typography ................ Text sizes, Heirarchy, H1–H6 styles..
*
* Layout .............. Layout modifiers along with vertical and horizontal spacing.
*
* Icons ............... Icons 
*
* Themes .............. Themes 
*
*/


@import "config";
@import "mixins";

html {
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    height: 100%;
    min-height: 100%;
    background-color:$base-bg-color;
}

body {
    margin: 0;
    background-color: #f0f0f0;
    color: $base-font-color;
    font-family: $sans-serif-stack;
    line-height: $base-line-height;
    position: relative;
    min-height: 100%;
}

// Remove border when inside `a` element in IE 8/9.
img { border: 0;}

@import "spacing";
@import "icons";
@import "typography";
@import "layout";
@import "themes";

*,
*:before,
*:after {
    box-sizing: border-box;
}

// Accessibility 101
*:focus {
    outline: solid 3px $color-focus;
}



// -----------------------------------------------------------------------------
// utilities -- typography
// -----------------------------------------------------------------------------

.font-bold { font-weight:$font-bold; }
.font-light { font-weight:$font-light; }
.font-normal {font-weight:$font-normal;}

.uppercase { text-transform:uppercase; }
.lowercase { text-transform:lowercase; }

.text-center { text-align:center; }
.text-left { text-align:left;}
.text-right { text-align:right;}


// -----------------------------------------------------------------------------
// utilities -- Images
// -----------------------------------------------------------------------------

.img--responsive { max-width:100%;}


// -----------------------------------------------------------------------------
// utilities -- Layout
// -----------------------------------------------------------------------------

.left { float:left; }
.right { float:right; }


.relative { position: relative; }
.absolute { position: absolute; }

    .absolute--bottom-left {
        position: absolute;
        bottom:0;
        left:0;
    }

    .absolute--bottom-right {
        position: absolute;
        bottom:0;
        right:0;
    }

    .absolute--top-left {
        position: absolute;
        top:0;
        left:0;
    }

    .absolute--top-right {
        position: absolute;
        top:0;
        right:0;
    }


.align--top { vertical-align: top; } 
.align--middle > * { vertical-align: middle; } 
//.align--middle { vertical-align: middle; }
.align--baseline {vertical-align: baseline; } 
.align--bottom { vertical-align: bottom; } 

.center-element { 
    margin-left:auto;
    margin-right:auto; 
} 


.overflow-hidden { overflow: hidden; }

.fixed--bottom {
    position:fixed; 
    bottom:0;
}

.fixed--top {
    position:fixed; 
    top:0;
}

.block-element { display:block;}

.prepend{
    &:before{
        content: attr(data-prepend);
        display: inline-block;
    }
}

.append{
    &:after{
        content: attr(data-append);
        display: inline-block;
    }
}

.hide { display: none; }
.show { display: block; }

// -----------------------------------------------------------------------------
// utilities -- responsive helpers 
// -----------------------------------------------------------------------------


@include small-down {

    .hide--small-down {  display:none; }
    .show--small-down {  display:block; }

    .text-center--small-down {  text-align: center; }
    .text-right--small-down { text-align: right; }
    .text-left--small-down { text-align: left; }

    .append--q-small-down:after { 
        content: attr(data-append-small);
        display: inline-block;
    }

}



@include medium {
        
    .hide-medium { display:none; }
    .show--medium {  display:block; }
    
    .text-center--medium { text-align: center; }
    .text-right--medium { text-align: right; }
    .text-left--medium { text-align: left; }

    .append--q-medium:after {
        content: attr(data-append-medium);
        display: inline-block;
    }

}

@include large {
        
    .hide-large { display:none; }
    .show--large {  display:block; }

    .text-right--large { text-align: center; }
    .text-right--large { text-align: right; }
    .text-left--large { text-align: left; }

    .append--q-large:after { 
        content: attr(data-append-medium);
        display: inline-block;
    }

}
    

// -----------------------------------------------------------------------------
// utilities -- States
// -----------------------------------------------------------------------------

.is-draggable {  cursor: move; }

/**
 * Prevent all user interaction with the element
 */

.is-disabled {
    pointer-events: none;
    cursor: default;
    opacity: .5;
}


.is-visible { visibility: visible ; }
.is-hidden { visibility: hidden ; }

