
.i-arrow-sml {
    background-image: url('png/arrow-sml.png');
    background-repeat: no-repeat;
}


.i-example {
    background-image: url('png/example.png');
    background-repeat: no-repeat;
}


.i-icon-external-link {
    background-image: url('png/icon-external-link.png');
    background-repeat: no-repeat;
}


.i-logo {
    background-image: url('png/logo.png');
    background-repeat: no-repeat;
}


.i-twitter-sml {
    background-image: url('png/twitter-sml.png');
    background-repeat: no-repeat;
}

